@font-face {
  font-family: "Coolvetica";
  src: url("../fonts/CoolveticaV2.otf");
  src: url("../fonts/CoolveticaV2.woff2") format("woff2");
  src: url("../fonts/CoolveticaV2.woff") format("woff");
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font-family: Coolvetica;
}

body {
  font: 100% Helvetica, sans-serif;
  color: #151719;
  margin: 0;
  background-color: #F6CDB6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
body section.page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s ease-out;
}
body section.page.non-home {
  left: -250vw;
  border-right: 3px solid #151719;
}
body section.page.non-home.active {
  left: 0vw;
}
body section#home-page {
  z-index: 100;
  display: flex;
  min-height: 100vh;
  width: 100vw;
}
body section#home-page .home {
  background-color: #F6CDB6;
}
body section#home-page .home:first-child {
  background-color: #F6CDB6;
}
body section#home-page .contact {
  opacity: 0;
}
body section#home-page.tucked .CL {
  opacity: 1;
}
body section#home-page.tucked .contact {
  opacity: 1;
}

* {
  box-sizing: border-box;
}

.CL {
  font-size: 60px;
  font-family: "Coolvetica";
  text-align: center;
  margin-top: 20px;
  opacity: 0.1;
}

.waviy {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0px;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  font-size: 60px;
  -webkit-animation: name 2s 1;
          animation: name 2s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes name {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes name {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.waviy span {
  font-family: "Coolvetica";
  position: relative;
  color: #151719;
  opacity: 0;
  -webkit-animation: waviy 1s 1;
          animation: waviy 1s 1;
  -webkit-animation-delay: calc(0.08s * var(--i));
          animation-delay: calc(0.08s * var(--i));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes waviy {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0%, 40%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

@keyframes waviy {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0%, 40%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}
.tagline {
  margin: 10px auto 0 5px;
  -webkit-animation: tagline 5s 1;
          animation: tagline 5s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  margin-bottom: 10px;
}

@-webkit-keyframes tagline {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  40% {
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes tagline {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  40% {
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}
#left-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-right: 3px solid #151719;
}

.menu {
  text-align: center;
  -webkit-animation: tagline 5s 1;
          animation: tagline 5s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: all 0.6s ease-out;
  width: 120px;
}
.menu div {
  cursor: pointer;
  padding: 12px 10px 10px 10px;
  border-top: 3px solid #151719;
}
.menu a:first-child div {
  border: none;
}
.menu .contact {
  background-color: #151719;
  color: #F6CDB6;
  border: none;
  margin-top: 41px;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  max-width: 600px;
  min-width: 530px;
  margin: 0px auto 0px auto;
  position: relative;
  left: 0px;
  transition: all 1s ease-out;
}
.home .menu-space-holder {
  width: 120px;
  height: 120px;
}

.pdf-download {
  padding: 12px 34px 10px 16px;
  background-color: #151719;
  border-radius: 100px;
  color: #F6CDB6;
  font-family: "Coolvetica";
  position: fixed;
  z-index: 101;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.pdf-download .download-icon {
  width: 20px;
  color: #F6CDB6;
  position: absolute;
  right: 10px;
  top: 10px;
}

.contact-button {
  border: 4px solid #151719;
  padding: 10px 12px;
  margin: 24px 0 0 0;
  width: 100px;
  text-align: center;
  cursor: pointer;
  -webkit-animation: tagline 5s 1;
          animation: tagline 5s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.radarStroke, .radarArea {
  transition: 2s;
  transition-delay: 1s;
}/*# sourceMappingURL=style.css.map */